<footer class="footer">
  <div class="footer-inner">
    <div class="footer-left">
      <h3>Village Portal</h3>
      <p>© Copyright 2025</p>
    </div>
    <div class="footer-right">
      <p>Email: <a href="mailto:Lorem@email.com">Lorem@email.com</a></p>
      <p>โทรศัพท์/โทรสาร : <a href="tel:0888888888" class="strong">088-8888888</a></p>
    </div>
  </div>
</footer>
