<!DOCTYPE html>
<html>
<head>
  <title>Status List</title>
</head>
<body>
  <h1>Status List</h1>
  <ul>
    <% statuses.forEach(status => { %>
      <li><%= status.name %></li>
    <% }) %>
  </ul>
</body>
</html>
